<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.herroj.android.lunchtime.app">

    <!-- Este permiso es necesario para acceso a la red -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permisos requeridos para el sync adapter -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/RestaurantTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TipoRestMainActivity"
            android:label="@string/title_tipo_restaurant"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.herroj.android.lunchtime.app.MainActivity" />
        </activity>
        <activity
            android:name=".TipoPlatMainActivity"
            android:label="@string/title_tipo_platillo"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.herroj.android.lunchtime.app.MainActivity" />
        </activity>
        <activity
            android:name=".RestaurantMainActivity"
            android:label="@string/title_activity_restaurant"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.herroj.android.lunchtime.app.MainActivity" />
        </activity>
        <activity
            android:name=".RestaurantDetailActivity"
            android:label="@string/title_activity_restaurant_detail"
            android:parentActivityName=".RestaurantMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.herroj.android.lunchtime.app.RestaurantMainActivity" />
        </activity>
        <activity
            android:name=".RestaurantSettingsActivity"
            android:label="@string/title_activity_restaurant_settings"
            android:parentActivityName=".RestaurantMainActivity"
            android:theme="@style/SettingsTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.herroj.android.lunchtime.app.RestaurantMainActivity" />
        </activity>

        <activity
            android:name=".PlatilloMainActivity"
            android:label="@string/title_activity_platillo"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.herroj.android.lunchtime.app.MainActivity" />
        </activity>
        <activity
            android:name=".PlatilloDetailActivity"
            android:label="@string/title_activity_restaurant_detail"
            android:parentActivityName=".PlatilloMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.herroj.android.lunchtime.app.PlatilloMainActivity" />
        </activity>
        <activity
            android:name=".PlatilloSettingsActivity"
            android:label="@string/title_activity_restaurant_settings"
            android:parentActivityName=".PlatilloMainActivity"
            android:theme="@style/SettingsTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.herroj.android.lunchtime.app.PlatilloMainActivity" />
        </activity>

        <provider
            android:name=".data.LunchTimeProvider"
            android:authorities="@string/content_authority"
            android:exported="false"
            android:syncable="true" />

        <!-- servicio de autentificacion de prueba del SyncAdapter -->
        <service
            android:name=".sync.LunchTimeAuthenticatorService"
            android:permission="android.permission.MANAGE_ACCOUNTS">
            >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- El servicio SyncAdapter -->
        <service
            android:name=".sync.LunchTimeSyncService"
            android:exported="true"
            android:permission="android.permission.MANAGE_ACCOUNTS">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>


    </application>

</manifest>